.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo {
      height: 70px;
      width: 100px;
    }
    
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        
        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
  